*{
    font-size: 25;
    font-family: Arial;
}h1{
    justify-content: center;
    margin-left: 200px;
    margin-right: 50px;
    font-size: large; 
}
form{
    width: 60%; 
    background: #fff;
    border-radius: 10px;
    margin-left: 150px;
    padding: 60px 60px 200px 60px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.2);
}body{
    margin-top: 60px;
}.title_blog{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 40px;
 position: relative;
}input :focus{
    color: rgb(12, 190, 196);
}input[type=placeholder]{
    color: black;
    font-size: 300px;
}textarea{
    position: relative;
    display: flex;
margin-top: 50px;
 width: 70%;
 height: 300px;
}.button_submit{
    color: aquamarine;
    background-color:rgb(28, 142, 28); 
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}.button_submit:hover{
background-color:rgb(12, 54, 12);
}img {
    margin-left: 200px;
}.back_t{
    margin-left: 200px;
    margin-top: -20px;
}@media screen and (max-width:900px){
    textarea{
        justify-content: space-between;
        display: flex;
        flex-direction: column;
       

    }.button_submi{
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    } 
}