*{
    font-size: 25;
    font-family: Arial;
}h1{
    justify-content: center;
    margin-left: 200px;
    margin-right: 50px;
    font-size: large; 
}
form{
    width: 50%; 
    background: #fff;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 10px;
    padding: 60px 200px 200px 80px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.2);
}body{
    margin-top: 60px;
}.title_blog{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
 position: relative;
}.title_image{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
 position: relative;
}input :focus{
    color: rgb(12, 190, 196);
}input[type=placeholder]{
    color: black;
    font-size: 300px;
}textarea{
    position: relative;
    display: flex;
margin-top: 50px;
 width: 100%;
 height: 300px;
 resize: none;
}.button_submit{
    color: aquamarine;
    background-color:rgb(28, 142, 28); 
    width: 20%;
    height: 30px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}.button_submit:hover{
background-color:rgb(12, 54, 12);
}img {
    margin-left: 200px;
}.back_t{
    margin-left: 200px;
    margin-top: -20px;
}@media screen and (max-width:1000px){
    form{
        box-shadow:none;
       margin: 0px 0px 0px 0px;
       padding:0px 0px 0px 0px;
       width: 98%;
    }h1{
        margin: 0px 0px 0px 0px;
        padding:0px 0px 0px 0px;   
    }.back_home{
margin-left:30px ;
margin-top: 60px;
    }.back_t{
margin-left: 30px;
    }
}