*{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
 
 }body{

background:#288282;

}.head_title{
    display:flex;
    font-size: 40px;
   justify-content: center;
   color:white;
}.boxing_size{
    box-sizing: border-box;
    background-color: aliceblue;
    margin-left: 30px;
    margin-right: 30px;    
}.text_box{
  
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;

}textarea{

    margin-bottom: 70px;
 height: 100%;
    justify-content: space-between;
}
.button_function{
    padding-top: 40px;
    justify-content: space-between;
    padding: 30px 40px 60px 40px;
    flex-direction: column;
    padding-left: 500px;
}.insert_file{
   
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}.save_draft{
    margin-top:50px;
    background-color: #288282;
}.apply{
   
    margin-top:50px;
    background-color: #288282;  
}.back_home{
    position: relative;
   margin-top:20px;
    margin-left: 100px;
}a{
    text-decoration: none;
    color:aliceblue;
}.back_t{
    display: none;
}
