body{ 
    background: #fff;
}
form {
    width: 60%; 
    background: #fff;
    border-radius: 10px;
    margin-left: 180px;
    margin-right: 10px;
    padding: 60px 60px 200px 60px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.2);
}.title_head{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 40px;
    flex-direction: column;
    justify-content: space-between;
    
}.form_page{
    margin-top: 140px;
}
input[type=email], input[type=password],input[type=text] {
    width: 60%;
    padding: 12px 30px;
    margin: 8px 0;
    display: flex;
   box-sizing: border-box;
    background: #dee0e4;
    border-radius:5px;
    color:hsl(0, 0%, 100%);
}.log{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    border-radius: 360px;
    background-color: #288282;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
 
}
.submitbtn {
    background-color: #288282;
    color:black;
    padding: 7px 10px;
    margin-left: 510px;
    cursor: pointer;
    width: 10%;
    border-radius: 5px;
    display: flex;
    
}
.submitbtn:hover {
    opacity: 0.8;
    background-color: green;
    color:black;
    border:2px solid #CCD6F6;
}

.container {
  font-size: 20px;
}
input [type=placeholder]{
    color:#000000;
}
label{
    color:#000000;
}
input:focus {
    color:#000000;
}
*{
    font-size: 20px;
}
label {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }input{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-left: 250px;
        height: 100%;
        padding-right: 90px;
         font-size: 20px;
          border-radius: 5px;
          background-color: rgb(245, 241, 241);
        
    }.submit{
        color: #fff;
   font-size: 18px;
   outline: none;
   border: none;
   padding: 5px 20px;
   border-radius: 10px;
   background:#288282;
   cursor: pointer;
   transition: all 0.3s ease;
   display: flex;
  margin-left: 500px;
    }a{
        text-decoration: none;
    }.Signup{
        margin-top: 0px;
        margin-left: 120px;
        padding: 20px;
    }.back{
        margin-top: 50px;
        margin-left: 140px;  
    }
    .back:hover{
      
        font-size: 18px;
        outline: none;
        border: none;
        padding: 5px 20px;
        border-radius: 10px;
        background:#288282;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
      
    }@media screen and (max-width:1080px){
      form{
       box-shadow: none;
       margin: 0px 0px 0px 0px;
     
      }.submitbtn{
        margin-left: 70px;
        background-color: #288282;
       
        color:black;
        padding: 7px 10px;
      
        cursor: pointer;
        width: 40%;
        border-radius: 5px;
        display: flex;
        
      } input[type=email], input[type=password],input[type=text]{
        width: 100%;
      }.Signup{
        margin-top: 30px;
        margin-left: -20px;
      }.back{
        margin-top: 100px;
        margin-left: 0px;
      }
    }@media screen and (max-width:280px){
        input[type=email], input[type=password],input[type=text]{
            width: 140%;
          }.submitbtn{
            width: 300%;
            background-color: #fff;
            border: none;
            color: #288282;
            font-size: 30px;
          }

    }@media screen and (max-width:540px){
        .submitbtn{
            width: 30%;
          }
    }@media screen and (max-width:768px){
        .submitbtn{
            width: 20%;
          }
    }




