*{
    font-size: 20px;
}
.log{
   
    width: 80px;
    height: 80px;
    margin-top: 10px;
    border-radius: 360px;
    background-color: #288282;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;

    
    }.title_head{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 40px;
        flex-direction: column;
        justify-content: space-between;
        
    }body{
        width: 60%; 
        background: #fff;
        border-radius: 10px;
        margin-left: 150px;
        margin-right: 10px;
        padding: 60px 60px 100px 60px;
        box-shadow: 0 5px 10px rgb(0,0,0,0.2);
    }label {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }input{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-left: 250px;
        height: 100%;
        padding-right: 90px;
         font-size: 20px;
          border-radius: 5px;
          background-color: rgb(245, 241, 241);
        
    }.submit{
        color: #fff;
   font-size: 18px;
   outline: none;
   border: none;
   padding: 5px 20px;
   border-radius: 10px;
   background:#288282;
   cursor: pointer;
   transition: all 0.3s ease;
   display: flex;
  margin-left: 500px;
    }a{
        text-decoration: none;
    }.forget_password{
        display: flex;
        padding-bottom: 60px;
    }.back:hover{
      
        font-size: 18px;
        outline: none;
        border: none;
        padding: 5px 20px;
        border-radius: 10px;
        background:#288282;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
      
    }