*{
    font-size: 25;
    font-family: Arial;
}body{
    background-color: #fff;
    margin: 20px 20px 20px 20px;
}p{
    display: flex;
    padding: 10px 10px 10px 10px;

}.message-page{
    background: #fff;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.2);
}.body_message a{
    margin-left: 100px;
}a{
    text-decoration: none;
    color:rgb(47, 17, 155);
}@media screen and (max-width:1000px){
 body{
 background-color: none;
margin: 0px 0px 0px 0px;
 }
}