*{
    font-size: 20px;
}body{
    width: 80%; 
    background: #fff;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 40px;
    padding : 10px 10px 400px 10px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.2);
}.publish_blog{
    margin-top: 10px;
    position: relative;
   margin-left: 50px;
    justify-content: center;
}table td{
    width: 30%;
}table tr th{
    width: 30px;
    justify-content: space-between;
    padding: 60px;
    font-size: 30px;
}.id_th{
    padding-left: 30px;
}.title_th{
    margin-left: 50px;
}.content_th{
    padding-left: 200px;
}.action_th{
    padding-left: 240px;
}
.btn_publish{
    color: aliceblue;
    background-color: rgb(22, 131, 95);
    border: none;
    border-radius: 10px;
}.btn_publish:hover{
    background-color: rgb(16, 92, 16);
}a{
    text-decoration: none;
    color:black;
}.no{
width: 70px;
}.title_message{
    width: 400px;
}.body_content{
    width: 1200px;
}.button_t{
    width: 100px;
}@media screen and (max-width:900px) {
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0px;
}.title_message .body_content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}table th{
display: none;
   
}
}