*{font-family: 'Inter';
font-style: normal;
font-weight:400;
font-size: 20px;
line-height: 30px;
margin: 0%;
padding: 0%;
}html{
  scroll-behavior: smooth;
}

body{
  margin-left: 0px;
  margin-right: 0px;
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topnav {

overflow: hidden;
 background-color: #288282;

}
.nav_logo{
position: relative;
top: 15px;
justify-content: center;
  color:white;
  border-radius: 360px;
  float: left;
 background-color: #288282;
 align-items: center;

 }.topnav a {
  float: left;
  display: flex;
  color:white;
  height: 80px;
 text-decoration: none;
padding-left: 100px;
position: relative; 
top: 15px;
transition: transform 1s;
}.topnav a:hover{
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(0.5);
  transform: scale(1.2); 
}
 .topnav .icon {
display: none;

}.closebtn{
  display: none;
}.home1{
 display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
 }
 .my_home1 img{
  width: 300px;
	height: 450px;
	border-radius:10px;
  align-items: center;
  padding: auto;
 }
 .home_text{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .my_home1{
  justify-content: center;
margin-left: 80px;
 }
 .part2_about{
margin-left: 10px;
margin-right: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
 }.about{
  display: flex;
  padding: 30px;
 }
 .t_about_me{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;

 }.skills{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
 }
 .t_skills{
 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
 
 }.tit_skills{

  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 
 }.image_skills{
  border-radius: 20px;
 
 }.def_skills{
  padding: 30px;
 }.my_skills{
  margin-left: 40px;
  flex-direction: column;
  align-items: center;
 }.skills_description{
  display: flex;
  justify-content: center;

 }.portflio{
  margin-left: 10px;
  margin-right: 10px;
 }
 .t_portflio{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;

 }.portf1{
width: 260px;
height: 150px;
border-radius: 20px;

 }.head_portflio{
  margin: 0; 
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 }.all_portf{
display: flex;
justify-content: space-between;
padding:30px;
align-items: center;
margin-right: 10px;
margin-left: 10px;

 }.portflio_a{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;

 }.port_button{
 background-color:#288282;
 border: none;
 border-radius: 120px;
text-align: center;

}.port_button a{
  text-decoration: none;
  color: white;
  align-items: center;
  transition: transform 1s;
}.portflio_b{
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  button:hover{
 background-color: green;

}
.button_potfl{
  display: flex;
  justify-content: center;
 
}.portflio_c{
  
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}.blog{
  
  display: flex;
  flex-direction: column;
align-items: center;
margin-left:10px;
margin-right:10px;
}.T_blog{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
 padding: 30px;
}.blog_b{
  width: 260px;
  height: 150px;
  border-radius: 20px;
}.all_blog{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:10px;
  margin-right: 10px;
}.blog_to{
margin-left:30px ;
margin-right: 30px;
justify-content: center;
text-align: center;
}.box_sign_a{
  text-decoration: none;

}.name_text_a{
background: #D9D9D9;
border: 3px solid #000000;
border-radius: 10px;

}
.contact_me button{
  
text-align: center;
border: none;

}.port_button{
  position: relative;
 width: 150px;
}.port_button a{
  position: relative;
  text-decoration: none;
  color: white;
  text-align: center;
}.container{
  border-radius: 4px;
  margin-left: 30px;
  margin-right: 30px;
 
 }
 .container .content{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .container .content .left-side{
   width: 25%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 15px;
   position: relative;
 }
 .content .left-side::before{
   content: '';
   position: absolute;
   height: 70%;
   width: 2px;
   right: -15px;
   top: 50%;
   transform: translateY(-50%);
   background: #afafb6;
 }
 .content .left-side .details{
   margin: 0px;
   text-align: center;
 }
 .content .left-side .details i{
   font-size: 30px;
   color: #3e2093;
   margin-bottom: 10px;
 }
 .content .left-side .details .topic{
   font-size: 18px;
   font-weight: 500;
 }
 .content .left-side .details .text-one{
   font-size: 14px;
   color: #afafb6;
 }
 .container .content .right-side{
   width: 75%;
   margin-left: 60px;
 }
 .content .right-side .topic-text{
   font-size: 23px;
   font-weight: 600;
   color:#000000;
 }
 .right-side .input-box{
   height: 50px;
   width: 80%;
   margin: 12px 0;
 }
 .right-side .input-box input,
 .right-side .input-box textarea{
   height: 100%;
   width: 80%;
   border: none;
   outline: none;
   font-size: 16px;
   background: #F0F1F8;
   border-radius: 6px;
   padding: 0 15px;
   resize: none;
 }
 .right-side .message-box{
   min-height: 110px;
 }
 .right-side .input-box textarea{
   padding-top: 6px;
 }
 .right-side .button{
   display: inline-block;
   margin-top: 12px;
 }
 .right-side .button input[type="button"]{
   color: #fff;
   font-size: 18px;
   outline: none;
   border: none;
   padding: 8px 16px;
   border-radius: 10px;
   background:#288282;
   cursor: pointer;
   transition: all 0.3s ease;
 }
 .button input[type="button"]:hover{
   background:#288282;
 }
 

.ft{
  position: relative;
  top:30px;
margin-left: 0px;
margin-right: 0px;

background: #288282;
}.all_ft{
  
  display: flex;
  color: white;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  position: relative;
 

}.ft_1{
  justify-content: center;
 
}.ft_message a{
  text-decoration: none;
  color: #D9D9D9;
  
}.head_ft1{
 
   font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
}.ft_message_t1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
}.ft_2{
  position: relative;
  padding-top: -90px;
}
 .topnav .closebtn {
  display: none;
  position: relative;
  top: 0;
  right: 0px;
  color:red;
  font-size: large;
  transition: transform -1s;
  
}.closebtn{
  display: none;
  transition: transform -1s;
}
@media (max-width: 950px) {
  .container{
  justify-content: center;
 align-items: center;
display: flex;
padding-left: 30%;
  } 
  .container .content .right-side{
  
   margin-left: 200px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
 
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
 }


 



@media screen and (max-width: 820px) {
  .topnav a {
   display: none;
 } 
 .topnav a.icon{
   float: right;
   display: block;
 }
}

@media screen and (max-width: 950px) {
 .topnav.responsive {position: relative;}
  .topnav.responsive .closebtn{
  
   right: 0;
   top: 0;
 } .topnav.responsive .icon:hover{
   color:#288282; 
 }.topnav .closebtn:hover{
  
   position: absolute;
   color:red;
  
   width: 0;
 height: 0;
 border-left: 25px solid transparent;
 border-right: 25px solid transparent;
 border-top:red;
 }
 .topnav.responsive  a {
   float:none;
   display: flex;
   text-align: center;
 padding: 1px;
 justify-content: center;
   
 }
 .topnav.responsive  {
   float: none;
   position: relative;
   display: block;
  text-align: left;
 }.topnav{
  margin-left: 0px; 
  margin-right: 0px;
 }.home1 {
  
   display: flex;
   flex-direction: column;
   flex-flow: column;
   align-items: center;
   justify-content: space-between;
  
  }.about{
  
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

  }.skills{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
   
  }.all_portf{
   display: flex;
   flex-direction: column;
   flex-flow: column;
   align-items: center;
   justify-content: space-between;
  
  }.all_blog{
   display: flex;
   flex-direction: column;
   flex-flow: column;
   align-items: center;
   justify-content: space-between;
 
 }.blog{
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  
 }.all_ft{
   display: flex;
   flex-direction: column;
   flex-flow: column;
   align-items: center;
   justify-content: space-between;
 
 }.skills_description{
   display: flex;
   flex-direction: column;
   flex-flow: column;
   align-items: center;
   justify-content: space-between;
 }.container{
  display: flex;
   flex-direction: column;
   flex-flow: column;
   align-items: center;
   justify-content: space-between;
  
 }
 }
