
*{font-family: 'Inter';
  font-style: normal;
  font-weight:400;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 0px 0px;
  }html{
    scroll-behavior: smooth;
  }.body{
    margin: 0px 0px 0px 0px;
  }.container_body{
position: relative;
margin: -9px 0px 0px 0px;
background: #c8e8e9;
  }
nav{
 background-color: #017575;
 width: 100%;

} nav a.links{
position: relative;
padding-left: 90px;
transition: transform 1s;
}nav a.links:hover{
-ms-transform: scale(1.5); 
-webkit-transform: scale(0.5);
transform: scale(1.2);
}
.links,.links-hidden{
 display: inline-block;
 color: rgb(255, 255, 255);
 text-decoration: none;

 font-weight: bold;
 padding: 20px;
}

.hamburger {
 color: white;
 font-weight: bolder;
 display: none;
} .logo input{
background-color: #017575;
width: 40px;
height: 40px;
color: white;
border-radius: 360px;
display: inline-block;
}
/* raw2 home page */
.row2{
display: flex;
margin: 10px 10px 10px 10px;
}.row2 img{
width: 300px;
height: 450px;
border-radius:10px;

}.home_text{
padding-top: 150px;
justify-content: center;
margin-left: 80px;

}.row3{
margin: 10px 10px 10px 10px;
justify-content: center;
}.about_me{
display: flex;
  flex-direction: column;
 font-size: 40px;
 padding: 20px;
  align-items: center;
  justify-content: space-between;
}.title_portflio{
display: flex;
flex-direction: column;
font-size: 40px;
padding: 20px;
align-items: center;
justify-content: space-between;
}.skills_head{
margin: 10px 10px 10px 10px;
justify-content: center;
}.title_skills{
display: flex;
flex-direction: column;
font-size: 40px;
padding: 20px;
align-items: center;
justify-content: space-between;
}.skills_description{
display: flex;
margin-left: 500px;
}.skills_description img{
border-radius: 30px;
}.row5{
margin: 10px 10px 10px 10px;
}.title_portflio{
display: flex;
flex-direction: column;
font-size: 40px;
padding: 20px;
align-items: center;
justify-content: space-between;
}.all_portflios{
display: flex;
margin: 10px 10px 10px 10px;
}.all_portflios img{
width: 260px;
height: 150px;
border-radius: 20px;
}.row5 span{
margin-left: 500px;

}.row5 button{
background-color: #017575;
border-radius: 10px ;
margin-top: 30px;
border: none;
}.row5 button a{
color :white;
} .row5 button:hover{
background-color: #032626;
}a{
text-decoration: none;
}.row6{
margin: 10px 10px 10px 10px;
}.blog_head{
margin: 10px 10px 10px 10px;
}.title_blog{
display: flex;
flex-direction: column;
font-size: 40px;
padding: 20px;
align-items: center;
justify-content: space-between;
}.all_blogs{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 40px; 
margin-right: 40px;
}.all_blogs img{
width: 260px;
height: 150px;
border-radius: 20px;
padding: 10px 10px 10px 10px;
}/* blogs  scroll */

#all_blogs{
  height: 368px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;
}
#all_blogs::-webkit-scrollbar{
  width: 10px;
}
#all_blogs::-webkit-scrollbar-thumb{
  background-color: #e1e3e1;
  border-radius: 10px;
}



.all_blogs p{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}.row6 button{
margin-top: 30px;
margin-left: 500px;
background-color: #017575;
border-radius: 10px;
border: none;
}.row6 button a{
color:white;
}.row6 button:hover{
background-color: #032626;
}
/* this is part of contact form*/

.container .content{
display: flex;
align-items: center;
justify-content: space-between;
}
.container .content .left-side{
width: 25%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 15px;
position: relative;
}
.content .left-side::before{
content: '';
position: absolute;
height: 70%;
width: 2px;
right: -15px;
top: 50%;
transform: translateY(-50%);
background: #afafb6;
}.content .left-side .details{
margin: 0px;
text-align: center;
}
.content .left-side .details .topic{
font-size: 18px;
font-weight: 500;
}
.content .left-side .details .text-one{
font-size: 14px;
color: #afafb6;
}
.container .content .right-side{
width: 75%;
margin-left: 60px;
}
.content .right-side .topic-text{
font-size: 23px;
font-weight: 600;
color:#000000;
}
.right-side .input-box{
height: 50px;
width: 80%;
margin: 10px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
height: 100%;
width: 100%;
border: none;
outline: none;
font-size: 16px;
background: #F0F1F8;
border-radius: 6px;
padding: 0 15px;
resize: none;
}
.right-side .message-box{
min-height: 110px;
}
.right-side .input-box textarea{
padding-top: 6px;
}
.right-side .button{
display: inline-block;
margin-top: 12px;
}.button_submit{
background-color: #017575;
border-radius: 10px;
border: none;
margin-bottom: 30px;
}.button_submit:hover{
background-color: #032626;
}.button_submit b{
color: white;
}










@media screen and (max-width: 1000px) {
 nav a:not(:first-child) {
 display: none;

}
nav a.hamburger {
 float: right;
 display: block;
 padding-right: 15px;

 
}.logo input{
padding-left: 15px;

}
nav.openNav a.hamburger {
 position: relative;

}
nav.openNav a {
 float: none;
 display: block;
 text-align: center;
 padding: 20px;
}.row2{
  margin: 0px 0px 0px 0px;
   display: flex;
   flex-direction: column;
   flex-flow: column;
   align-items: center;
   justify-content: space-between;
}.home_text{
margin: 1px 10px 10px 10px;
}.row2 img{
  margin-right: 40px;
}.skills_description{
margin: 10px 10px 10px 10px;
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
}.skills_description img{
width: 300px;
}.portflio_head{
  
margin: 10px 10px 10px 10px;
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
}.all_portflios{
margin: 10px 10px 10px 10px;
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
}.all_portflios img{
width: 300px;
height: 150px;
border-radius: 20px;
}.row5 span button{
margin-left: -400px;
}.meaning_portflio{
margin: 10px 10px 10px 10px;
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
}.all_portflios p{
margin: 10px 10px 10px 10px;
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
}.blog_head{
margin: 10px 10px 10px 10px;

}.all_blogs{
margin: 10px 10px 10px 10px;
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
margin-left: 0px;
}.row6 button{
margin-left: 100px;
}.all_blogs img{
width: 300px;
height: 150px;
border-radius: 20px;
}.all_blogs p{
margin: 10px 10px 10px 10px;
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
}.all_blogs a h1{
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
}.meaning_blog{
margin: 10px 10px 10px 10px;
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
}.content{
max-width: 0px 0px 0px 0px;
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
} 
.container .content{
flex-direction: column-reverse;
}
.container .content .left-side{
flex-direction: row;
margin-top: 40px;
justify-content: center;
flex-wrap: wrap;
}
.container .content .left-side::before{
display: none;
}.right-side{
margin: 0px 0px 0px 0px;

}.content_message{
margin: 10px 10px 10px 10px;
display: flex;
flex-direction: column;
flex-flow: column;
align-items: center;
justify-content: space-between;
}

}@media screen and (max-width:1280px){
  nav a.links{
 padding-left: 60px;

 }
}@media screen and (max-width:1024px){
  nav a.links{
 padding-left: 40px;

 }
}@media screen and (max-width:280px){
  .row2 img{
    width: 350px;
   border-radius: 20px;
    margin:10px 10px 10px 10px;

  }.skills_description img{
  width: 250px;
  height: 150px;
  border-radius: 20px;
  margin:10px 10px 10px 10px;
 }.all_portflios img{
  width: 250px;
  height: 150px;
  border-radius: 20px;
  margin:10px 10px 10px 10px;
 }.all_blogs img{
  width: 250px;
  height: 150px;
  border-radius: 20px;
  margin:10px 10px 10px 10px;
 }
}


