*{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 25px;
}.container_all{
    position: absolute;
width: 100%;
height: 650px;
background:#288282;
top:0%;
left:0%;
}.head_title{
    position: absolute;
top:-20px;
left: 428px;
font-family: 'Inria Sans';
font-style: normal;
font-weight: 500;
font-size: 50px;

color: #ffffff;

}.boxing_size{

    position: absolute;
    width: 1200px;
    height: 550px;
    left: 79px;
    top: 75px;
    
    background: #D9D9D9;
}textarea{
    width: 70%;
    height: 400px;
   left: 200px;
    top: 140px; 
   border: none;
   position: relative;
 
   
   
}.insert_file{
    position: absolute;
   
    left: 100px;
    top: 50px;
   
}.add_photo{
    position: absolute;
width: 140px;
height: 50px;
left: 50px;
top: 30px;

background:#288282;
border-radius: 20px
}.insert_photo{
    position: absolute;
    width: 140px;
    height: 50px;
    left: 300px;
    top: 30px;
    background: #288282;
    border-radius: 20px   
}.save_draft{
    position: absolute;
    width: 140px;
    height: 50px;
    left: 600px;
    top: 30px;
    background: #288282;
    border-radius: 20px   
}.apply{
    position: absolute;
    width: 140px;
    height: 50px;
    left: 850px;
    top: 30px;
    background: #288282;
    border-radius: 20px  
}button a{
    color:#FFFFFF;
    text-decoration: none;
}button{
    border: none;
}.back_home{
    position: absolute;
  
    left: 30px;
    top: 470px;
   
    border-radius: 360px   
}.back_t{
    position: absolute;
  
    left: 30px;
    top: 480px;
   
    border-radius: 360px  
}button:hover{
    background-color: green;
   
}a .back_t:hover{
color:red;
}